<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="tool-bar"></span>
  <button mat-icon-button aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <p>Auto-resizing sidenav</p>

  </mat-drawer>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>