table {
    width: 100%;
}

.icon {
    margin-right: 10px;
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 90vw;
    margin: auto;
}

.headers {
    align-items: center;
    justify-content: center;
}